<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/guardhomestyle.css">
    <title>Permit ME_guard</title>
    <script src="https://kit.fontawesome.com/3704bd827e.js"
     crossorigin="anonymous">
    </script>
    <script src="main.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="/guardhome">Permit Me</a>
        </div>

        <ul class="navbar_menu">
            <li><a href="/guardhome">홈</a></li>
            <li><a href="/guardoutck">외출확인</a></li>
            <li><a href="/guardinck">복귀확인</a></li>
        </ul>

        <ul class="info">
            <span id="number" style="display: inline-block;">경비실교사</span>님 반갑습니다
            <button><a href="/">로그아웃</a></button>
        </ul>
        <a href="#" class="navbar_toogleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

    <table class="outcktable">
        <div class="out">외출확인</div>
            <td>학번</td>
            <td>날짜</td>
            <td>외출시간</td>
            <td>시간</td>
            <td>상태</td>
        </tr>
        <tr>
            <td>2301</td>
            <td>10/10</td>
            <td>현재시간</td>
            <td>2</td>
            <td><a href=""><button class="outbtn">외출</button></a></td>
        </tr>
        <tr>
            <td>2411</td>
            <td>10/10</td>
            <td>현재시간</td>
            <td>2시간이상</td>
            <td><a href=""><button class="outbtn">외출</button></a></td>
        </tr>
        <tr>
            <td>2309</td>
            <td>10/10</td>
            <td>현재시간</td>
            <td>1</td>
            <td><a href=""><button class="outbtn">외출</button></a></td>
        </tr>
    </table>

    
</body>
</html>