@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    margin: 0;
    height: 100vh;
    background: url("/images/mainbg.jpg") no-repeat center;
    background-size: cover;
    font-family: 'Jua', sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #01A9DB;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 40px;
    color: white;
    font-family: 'Nerko One', cursive;
    padding-left: 30px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 28px;
    padding-right: 0px;
}

.navbar_menu li:hover {
    background-color: skyblue;
    border-radius: 4px;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_toogleBtn {
    display: none;
}


.info {
    font-size: 22px;
}

.info button {
    width:80px;
    height: 30px;
    background-color: #2ECCFA;
    color: white;
}

.pageWrap button {
    width:100%;
    height: 70px;
    background-color: cornflowerblue;
    color: white;
    float: left;
    font-size: 35px;
    font-family: 'Jua', sans-serif;
}

.pageWrap table th {
    font-size: 35px;
    font-family: 'Jua', sans-serif;
}

.pageWrap table td {
    padding: 30px 20 0px;
    border: 1px solid #999;
    display: block;
    width: 100%;
}

.pageWrap table td {
    text-align: center;
    font-size: 40px;
}




@media screen and (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;

    }
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-right: 0;
    }

    .navbar_toogleBtn
    {
        display: block;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_menu.active {
        display: flex;
    }
}


.applicant_1hour {
    width:350px;
    height:450px;
    background-color:#E0ECF8;
    border: 2px solid #000000;
    border-radius: 20px;
    float: left;
    margin-left: 70px;

    margin-top: 60px;
}

.applicant_1hour li,
.applicant_2hour li,
.applicant_more li {
    font-size: 52px;
    display: flex;
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 40px;
    color: white;
}

label {
    font-size: 34px;
}

.applicant_1hour button {
    width: 88%;
    height: 60px;
    background-color: cornflowerblue;
    border-radius: 20px;
    color: white;
    float: left;
    font-size: 35px;
    margin-top: 120px;
    font-family: 'Jua', sans-serif;
}

.applicant_2hour button {
    width: 88%;
    height: 60px;
    background-color: cornflowerblue;
    border-radius: 20px;
    color: white;
    float: left;
    font-size: 35px;
    margin-top: 80px;
    font-family: 'Jua', sans-serif;
}



.applicant_2hour {
    width:350px;
    height:450px;
    background-color:#E0ECF8;
    border: 2px solid #000000;
    border-radius: 20px;
    float: left;
    margin-left: 70px;

    margin-top: 60px;
}

.applicant_more {
    width:350px;
    height:450px;
    background-color:#CED8F6;
    border: 2px solid #000000;
    border-radius: 20px;
    float: left;
    margin-left: 70px;
    margin-top: 60px;
}

.applicant_more .text {
    height: 8%;   
    width: 250px;
}

.applicant_more button {
    width: 88%;
    height: 60px;
    background-color: cornflowerblue;
    border-radius: 20px;
    color: white;
    float: left;
    font-size: 35px;
    margin-top: 30px;
    font-family: 'Jua', sans-serif;
}

.in {
    margin-left: 45%;
    margin-top: 50px;
    font-size: 38px;
}

.intable {
    width: 90%;
    height: 170px;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    font-size: 26px;
}

.intable td{
    height: 50px;
    width: 180px;
}

.inbtn {
    width:100px;
    height: 40px;
    background-color: #58ACFA;
    border-radius: 10px;
    font-size: 26px;
    font-family: 'Jua', sans-serif;
}

.war {
    margin-left: 40%;
    margin-top: 50px;
    font-size: 38px;
}


.wartable {
    width: 90%;
    height: 170px;
    text-align: center;
    margin-top: 70px;
    font-size: 26px;
}

.wartable td{
    height: 50px;
    width: 180px;
}
